body{
    background-image: url(./assets/images/gym-photo.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.loginbox{
    background-color: white;
    height: 600px;
    width: 400px;
    text-align: center;
    border-radius: 3%;
}
.form button{
    background-color: orangered;
    height: 70px;
    width: 200px;
    border: none;
    border-radius: 3%;
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.form button:hover {
    background-color: #e0e0e0;
}
  
.form button:active {
    background-color: #ccc;
}
.inputBox{
   height: 30px;
   width: 280px;
   font-size: 15px;
   display: block;
}
.form-control{
    text-align: left;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}
.form-control.success input{
    border-color: green;
}
.form-control.error input{
    border-color: red;
}
.form-control.success .checkmark{
    color: green;
    visibility: visible;
}
.form-control.error .exclamation{
    color: red;
    visibility: visible;
}
.checkmark{
    position: absolute;
    top: 35px;
    right: 78px;
    visibility: hidden;
}
.exclamation{
    position: absolute;
    top: 35px;
    right: 78px;
    visibility: hidden;
}
#hide1{
    visibility: hidden;
    position: absolute;
    top: 35px;
    right: 50px;
}
#hide2{
    position: absolute;
    top: 35px;
    right: 50px;
}
.form-control small{
    visibility: hidden;
    color: red;
}
.form-control.error small{
    color: red;
    visibility: visible;
}